<% provide :title, "about" %>
<aside class="bg-dark">
</aside>
<%= render 'creatives/bg_primary' %>
<%= render 'creatives/services' %>
<aside class="bg-dark">
  <div class="container">
    <hr class="light">
  </div>
</aside>