<aside class="bg-dark">
  <div class="container text-center">
    <div class="station_page">
      <h1 class="btn btn-default btn-xl"><%= @station.name %>駅の服</h1>
      <h3>(<%= @station.ward.name %>)</h3>
    </div>
  </div>
</aside>
<section class="no-padding">
  <div class="container-fuild">
    <div class="row no-gutter">
      <%= render @wears %>
    </div>
  </div>
</section>