<header>
  <div class="header-content">
    <div class="user_update_page">
      <h3>編集が完了しました！</h3>
      <%= link_to "トップに戻る",root_path, :class => "btn btn-primary btn-md page-scroll" %>
    </div>
  </div>
</header>