<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">自分のクローゼットの服に値札をつけよう！</h2>
                <hr class="light">
                <a href="#services" class="btn btn-default btn-xl wow tada btn_row page-scroll">なにをすればいいの？</a>
            </div>
        </div>
    </div>
</section>

