<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">近くの人と服を貸し借りしよう</h2>
                <hr class="light">
                <p class="text-faded">
                ??? では、<br>近所の人のクローゼットから欲しい服を探せます。<br>見つかった欲しい服を、貸してもらおう！</p>
                <a href="#services" class="btn btn-default btn-xl wow tada btn_row page-scroll">なにをすればいいの？</a>
            </div>
        </div>
    </div>
</section>

