<aside class="bg-dark">
  <div id="what_i_have_what_you_have">
    <div class="container text-center">
        <div class="call-to-action">
          <% if current_user==nil %>
          <% else %>
            <h2>クローゼットを作ろう！</h2>
            <a href="/wears/new" class="btn btn-default btn-xl wow tada">服を登録する</a>
          <% end %>
        </div>
    </div>
  </div>
</aside>

