<header>
    <%= render 'common/alert' %>
    <div class="header-content">
      <% if current_user != nil && user_signed_in? %>
        <div class="header-content-inner">
          <p><%= current_user.email %></p>
        </div>
      <% else %>
        <div class="header-content-inner">
            <h1>ようこそ！</h1>
            <hr>
            <!-- form -->
            <p>？？？</p>
            <p>
            <%= link_to "ログインする", new_user_session_path, :class => "btn btn-primary btn-xl page-scroll" %>　　
            <%= link_to "新規登録する",new_user_registration_path, :class => "btn btn-primary btn-xl page-scroll" %>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">詳しく！</a>
        </div>
      <% end %>
    </div>
</header>

