<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">私たちのサービス</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>まずは登録しよう！</h3>
                    <p class="text-muted">登録はFaceBookでしかできません(嘘)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-opencart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>服を登録しよう！</h3>
                    <p>服を写真でとろう！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-jpy wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>服に値段をつけよう！</h3>
                    <p class="text-muted">何円なら売るか、月何円なら貸せるかを登録しよう！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>他の人クローゼットをみよう！</h3>
                    <p class="text-muted">同じ駅を使っているユーザーを探せます</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <% if current_user==nil %>
                <hr>
                <a href="/users/sign_up" class="btn btn-primary btn-xl wow tada btn_row page-scroll">登録しよう！</a>
            <% end %>
        </div>
    </div>
</section>

