<header>
  <div class="header-content">
    <div class="ward_page">
      <h2><%= @ward.name %></h2>
      <br>
      <table class="table">
      <tr>
      <% i=1 %>
      <% @stations.each do |eki| %>
        <td align="left"><%= link_to "#{eki.name}", station_path(eki.id), :class => "btn btn-primary page-scroll btn-sm" %></td>
        <% if i==2 %>
          </tr><tr>
          <% i=0 %>
        <% end %>
        <% i+=1 %>
      <% end %>
      </tr>
      </table>
    </div>
  </div>
</header>