<% if notice %>
  <div class="page_notice">
    <h2 class="alert"><%= notice %></h2>
  </div>
<% end %>
<% if alert %>
  <div class="page_notice">
    <h2 class="alert"><%= alert %></h2>
  </div>
<% end %>